// Asteria application resource file
// Copyright (C) 2026 Michael A. McCloskey

#include <winver.h>

// Application icon (ID 101 = default icon)
101 ICON "../../assets/asteria.ico"

VS_VERSION_INFO VERSIONINFO
  FILEVERSION    1,0,0,0
  PRODUCTVERSION 1,0,0,0
  FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
  FILEFLAGS      0
  FILEOS         VOS_NT_WINDOWS32
  FILETYPE       VFT_APP
  FILESUBTYPE    VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName",      "Michael A. McCloskey"
      VALUE "FileDescription",  "Asteria - Astrological Charting Application"
      VALUE "FileVersion",      "1.0.0"
      VALUE "InternalName",     "asteria_app"
      VALUE "LegalCopyright",   "Copyright (C) 2026 Michael A. McCloskey. GPL v2 or later."
      VALUE "OriginalFilename", "asteria_app.exe"
      VALUE "ProductName",      "Asteria"
      VALUE "ProductVersion",   "1.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
